.DS_Store
.history
.tmp
.vscode

/**/.idea/
*.log

coverage/
reports/

/**/.cache
/**/.docusaurus
/**/build
/**/dist
/**/lib
/**/node_modules
/**/storybook-docs
/**/storybook-static

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log
.pnp.*
