git:
  depth: 1
  submodules: false
sudo: false
language: node_js
node_js:
  - 10
cache:
  directories:
    - node_modules
notifications:
  email: false
env:
  global:
    - USE_YARN=no
before_script:
  - npm run bootstrap
script:
  - npm run lint
  - npm test
