.tile {
  width: 50%;
  height: 50%;
  line-height: normal;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-container {
  height: 100%;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}