$av-table-background-color: #f2f2f2 !default;
$av-table-even-background-color: #ffffff !default;
$av-table-odd-background-color: #f2f2f2 !default;
$av-table-selected-background-color: #ecf0f3 !default;

$av-table-header-background-color: #ffffff !default;
$av-table-header-text-color: #000 !default;
$av-table-header-cell-hover-color: #f2f2f2 !default;
$av-table-header-height: 36px !default;
$av-table-scrollable-height: 100vh !default;
$av-table-scrollable-max-height: 69vh !default;

$av-table-fixed-text-column-width: 160px !default;
$av-table-fixed-icon-column-width: 27px !default;
$av-table-fixed-selection-column-width: 50px !default;
$av-table-action-column-width: 50px !default;

$av-table-border-color: #ddd !default;
$av-table-action-menu-color: #333 !default;
$av-table-sort-icon-color: #000 !default;
$av-table-font-size: 1rem !default;

$av-table-additional-content-background-color: #fff !default;

.av-grid-additional-content {
  table {
    background: $av-table-additional-content-background-color;
  }
}

.av-scrollable-table-wrapper {
  max-height: $av-table-scrollable-max-height;
  height: $av-table-scrollable-height;
  overflow: scroll;
  position: relative;
}

.dropdown-action-menu {
  .btn {
    padding: 0;
  }

  .icon.icon-menu {
    color: $av-table-action-menu-color;
  }

  &.dropdown-menu {
    z-index: 1;
  }

  &.dropdown-menu > .dropdown-item {
    font-size: $av-table-font-size;
  }
}

table.av-grid {
  font-size: $av-table-font-size;
  position: relative;
  margin-bottom: 0;
  border: 1px solid $av-table-border-color;
  border-collapse: separate;
  border-spacing: 0;
  z-index: 1;
  background: $av-table-background-color;

  .cursor-pointer:hover {
    cursor: pointer;
  }

  .btn.btn-link {
    font-size: $av-table-font-size;
  }

  thead th.action-column {
    width: $av-table-action-column-width;

    &.sticky.sticky-right {
      right: 0;
      z-index: 1;
      position: -webkit-sticky;
      position: sticky;
    }
  }

  thead th.sticky.sticky-right {
    right: 0;
    z-index: 1;
    background: $av-table-header-background-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-left: 1px solid $av-table-border-color;
  }

  thead th.sticky.sticky-left {
    left: 0;
    z-index: 1;
    background: $av-table-header-background-color;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-right: 1px solid $av-table-border-color;
  }

  tbody td.action-column {
    vertical-align: middle;
    text-align: center;
  }

  tr {
    border-collapse: separate;
    height: $av-table-header-height;
    &.selected {
      background-color: $av-table-selected-background-color;
      > td {
        background-color: $av-table-selected-background-color;
      }
    }
  }

  td {
    border: 0;
    &.fixed-width-selection {
      min-width: $av-table-fixed-selection-column-width;
      max-width: $av-table-fixed-selection-column-width;
      width: $av-table-fixed-selection-column-width;
    }

    &.fixed-width-icon {
      min-width: $av-table-fixed-icon-column-width;
      max-width: $av-table-fixed-icon-column-width;
      width: $av-table-fixed-icon-column-width;
    }

    &.fixed-width-text {
      min-width: $av-table-fixed-text-column-width;
      max-width: $av-table-fixed-text-column-width;
      width: $av-table-fixed-text-column-width;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  tbody td.sticky.sticky-right {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    border-left: 1px solid $av-table-border-color;
    overflow: visible;
  }

  tbody td.sticky.sticky-left {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    border-right: 1px solid $av-table-border-color;
    overflow: visible;
  }

  tbody tr.av-grid-row-odd:not(.selected) > td {
    background-color: $av-table-odd-background-color;
  }
  tbody tr.av-grid-row-even:not(.selected) > td {
    background-color: $av-table-even-background-color;
  }

  tbody tr:not(.selected):nth-child(odd) {
    background: $av-table-odd-background-color;
  }

  tbody tr:not(.selected):nth-child(even) {
    background: $av-table-even-background-color;
  }
}

.av-grid-row-header {
  vertical-align: middle;
  z-index: 2000;
  background: $av-table-header-background-color;
  color: $av-table-header-text-color;
  height: $av-table-header-height;

  &.sticky-header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}

table.av-grid > thead > tr > th:hover {
  background-color: $av-table-header-cell-hover-color;
}

table.av-grid-header,
.av-grid-body {
  margin: 0;
}

table.av-grid .av-grid-row-header {
  vertical-align: middle !important;

  th {
    vertical-align: middle !important;
  }

  .icon.icon-sort {
    opacity: 0.4;
    color: $av-table-sort-icon-color;
  }
}

table.av-grid > tbody,
thead > tr {
  height: $av-table-header-height;

  th,
  td.fixed-width-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  th,
  td {
    border: 0;
    padding: 5px !important;
  }
}

.table-controls {
  .table-controls-sorting {
    margin-left: 15px;
  }
}

.customize-column-link {
  text-decoration: inherit !important;
  color: #fff !important;
  padding: 0 !important;
}

.grabbed-item {
  cursor: grabbing;
  box-shadow: none !important;
  border: none !important;

  .configure-columns.table > tbody > tr {
    padding: 0 !important;
    background-color: #e8ebeb !important;
    font-size: 11px !important;
    td {
      padding: 0 !important;
    }
  }
}

.edit-table-columns {
  .popover-inner.sortable-table-fields-content {
    font-size: 11px !important;
    margin: 8px 0px;

    .customizable-column-item {
      cursor: move;
      border-collapse: separate;
      border: none;

      height: 15px !important;
      &:hover {
        background-color: #e8ebeb;
      }

      > td {
        font-size: 11px !important;
        padding: 0px !important;
      }
    }

    .popover-body {
      padding: 2px 15px;
	  margin-top: 10px;
      width: 215px;

      .icon {
        color: #212529;
      }
      .header-margin {
        margin: 5px 0px 3px 0px;
        font-size: 14px !important;
        h5 {
          font-size: 14px !important;
        }
      }
      .reset-to-default > button {
        font-size: 11px !important;
      }
    }
  }
}

.customize-columns-buttons > button {
  font-size: 12px;
}
