@import "~availity-uikit/scss/_bootstrap.scss";

$av-table-background-color: #f2f2f2;
$av-table-even-background-color: #ffffff;
$av-table-odd-background-color: #f2f2f2;
$av-table-selected-background-color: #ccdee2;

$av-table-header-background-color: $brand-info;
$av-table-header-text-color: #ffffff;
$av-table-header-cell-hover-color: #365b77;
$av-table-scrollable-height: 69vh;
$av-table-scrollable-max-height: 100vh;

$av-table-fixed-text-column-width: 160px;
$av-table-fixed-icon-column-width: 27px;
$av-table-fixed-selection-column-width: 50px;
$av-table-action-column-width: 50px;

$av-table-font-size: 12px;

.av-grid-additional-content {
	table {
		background: #fff;
	}
}

.av-scrollable-table-wrapper {
	max-height: $av-table-scrollable-height;
	height: $av-table-scrollable-max-height;
	overflow: scroll;
	position: relative;

	table.av-grid {
		font-size: $av-table-font-size;
		position: relative;
		margin-bottom: 0;
		border: 1px solid #ddd;
		border-collapse: separate;
		border-spacing: 0;
		z-index: 1;
		background: $av-table-background-color;

		.btn.btn-link {
			font-size: 12px;
		}

		thead th.action-column {
			width: $av-table-action-column-width;
		}

		thead th.action-column.sticky {
			right: 0;
			z-index: 1;
			background: $av-table-header-background-color;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			border-left: 1px solid #ddd;
		}

		tbody td.action-column {
			vertical-align: middle;
			text-align: center;

			.dropdown-action-menu {
				.btn {
					padding: 0;
				}

				.icon.icon-menu {
					color: #333;
				}

				.dropdown-menu > .dropdown-item {
					font-size: 12px;
				}
			}
		}

		tr {
			border-collapse: separate;
			&.selected {
				background-color: $av-table-selected-background-color;
				> td {
					background-color: $av-table-selected-background-color;
				}
			}
		}

		td {
			&.fixed-width-selection {
				min-width: $av-table-fixed-selection-column-width;
				max-width: $av-table-fixed-selection-column-width;
				width: $av-table-fixed-selection-column-width;
			}

			&.fixed-width-icon {
				min-width: $av-table-fixed-icon-column-width;
				max-width: $av-table-fixed-icon-column-width;
				width: $av-table-fixed-icon-column-width;
			}

			&.fixed-width-text {
				min-width: $av-table-fixed-text-column-width;
				max-width: $av-table-fixed-text-column-width;
				width: $av-table-fixed-text-column-width;
			}
		}

		tbody td.action-column.sticky {
			position: -webkit-sticky;
			position: sticky;
			right: 0;
			border-left: 1px solid #ddd;
			overflow: visible;
		}

		tbody tr.av-grid-row-odd:not(.selected) > td {
			background-color: $av-table-odd-background-color;
			height: 36px;
		}
		tbody tr.av-grid-row-even:not(.selected) > td {
			background-color: $av-table-even-background-color;
			height: 36px;
		}

		tbody tr:not(.selected):nth-child(odd) {
			background: $av-table-odd-background-color;
			height: 36px;
			overflow: visible;
		}

		tbody td:hover {
			cursor: pointer;
		}

		tbody tr:not(.selected):nth-child(even) {
			background: $av-table-even-background-color;
			height: 36px;
			overflow: visible;
		}
	}

	.av-grid-row-header {
		vertical-align: middle;
		z-index: 2000;
		background: $av-table-header-background-color;
		color: $av-table-header-text-color;
		&.info {
			background: $brand-info;
			color: white;
		}
		&.sticky-header {
			position: sticky;
			top: 0;
			z-index: 3;
		}
	}

	table.av-grid > tbody > tr.info {
		background-color: #bcd3d9;
	}

	table.av-grid > thead > tr > th:hover {
		background-color: $av-table-header-cell-hover-color;
	}

	table.av-grid-header,
	.av-grid-body {
		margin: 0;
	}

	table.av-grid .av-grid-row-header {
		vertical-align: middle !important;

		th {
			vertical-align: middle !important;
		}

		.icon.icon-sort {
			opacity: 0.4;
			color: #ffffff;
		}
	}

	table.av-grid > tbody,
	thead > tr {
		height: 36px;

		&.av-grid-row-odd {
			background-color: $av-table-odd-background-color;
			height: 36px;
		}
		&.av-grid-row-even {
			background-color: $av-table-even-background-color;
			height: 36px;
		}

		th,
		td.fixed-width-text {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		th,
		td {
			border: 0;
			padding: 5px !important;
		}
	}
}
