$availity-font-path: '~availity-uikit/fonts';
@import '~availity-uikit/scss/_bootstrap.scss';

pre.prismjs {
  color: inherit;
}

[id*='hidden'][id*='components'] {
  display: none !important;
}

.argstable-remove-default th:last-child,
.argstable-remove-default td:last-child {
  display: none !important;
}