.passwordElement {
  padding-bottom: 3px;
}
.complies {
  color: #29a232;
  vertical-align: middle;
}

.password-input {
  background-image: none !important;
}
.password-with-icon {
  position: relative;
  .icon {
    position: absolute;
    top: 27px;
    right: 0;
    margin: 0.5rem 0.75rem;
    padding: 1px;
    outline: none;
  }
}
// get rid of Edge browser's show/hide password eye it adds automatically
::-ms-reveal {
  display: none;
}

#current-password-eye::before,
#new-password-eye::before,
#confirm-new-password-eye::before {
  border: solid 1px rgb(255, 255, 255, 0);
  border-radius: 15%;
  padding: 2px;
  cursor: pointer;
}
#current-password-eye:focus::before,
#new-password-eye:focus::before,
#confirm-new-password-eye:focus::before {
  border: solid 1px rgb(116, 116, 116);
  border-radius: 15%;
  padding: 2px;
  cursor: pointer;
}
